@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



::selection {
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  background-color: #24252A;
  width: 100%;
  min-height: 750px;
  height: 100vh;
  overflow: hidden;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signature {
  width: 100px;
  grid-column-start: 2;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
}

nav ul {
  display: flex;
  justify-self: flex-end;
}


.nav-links .new-nav {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: #e7e2db;
  font-weight: 200;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links .new-nav i {
  transform: translateY(2px);
  margin-left: 0.2rem;
  font-size: 1.1rem;
}

.nav-links .new-nav:hover {
  color: #f3c829;
  cursor: pointer;
}

.image-wrap {
  position: absolute;
  width: 85%;
  height: 0px;
  bottom: 50%;
  left: 50%;
  background-image: url("./img/img-anime.jpg");
  transform: translateX(-50%) translateY(50%);
  max-width: 1000px;
  background-size: 150%;
  background-position: 50% 35%;
  background-repeat: no-repeat;
}

.big-name {
  color: #f3f0eb;
  font-size: 7.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-section p {
  color: #777;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.bottom-section p i {
  color: #f3c892;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.social-media {
  display: flex;
}

.social-media a {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: #777;
  transition: 0.3s;
}

.social-media a:hover {
  color: #f3c892;
}

.scroll {
  position: absolute;
  color: #f3c892;
  font-weight: 300;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  height: 50px;
}

.line {
  position: absolute;
  width: 1px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-image: linear-gradient(to top, rgb(157, 167, 165), rgb(121, 124, 124))
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 650px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #24252A;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-links {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;

  }

  .big-name {
    font-size: 3.8rem;
  }

  .scroll,
  .line {
    display: none;
  }
}




/*jasgfasg*/




:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Sans Pro", sans-serif;

  --fw-reg: 300;
  --fe--bold: 900;

  --clr-light: #fff;
  --clr-dark: #3030303;
  --clr-accent: #16e0bd;


  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading--color: hsl(var(--hue-1)61%, 24%);
}

@media(min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

p {
  opacity: 0.7;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}



/* :focus{
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
} */



/*button*/

.btn-1 {
  display: inline-block;
  padding: .8em 2.5em;
  background: #f3c892;
  color: #24252A;
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: transform 200ms ease-in-out;
  border-radius: 5px;
  border: none;

}

.btn-1:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/* typography*/
h1,
h2,
h3 {
  line-height: 1;
  margin: 0px;
}

h1 {
  font-size: var(--fs-h1)
}

h2 {
  font-size: var(--fs-h2)
}

h3 {
  font-size: var(--fs-h3)
}

.section__title {
  margin-bottom: .25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);

}

.section__subtitle--about {
  background: #f3c892;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: .25em 1em;
}

/*servic*/

.my-services {
  background-color: #24252A;
  background-image: url("./img/My-work.jpg");
  background-size: cover;
  color: #e7e2db;
  text-align: center;
}

.section__title--services {
  color: #f3c892;
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #e7e2db;
  opacity: 0.5;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service+.service {
    margin-left: 4em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;

}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}


/* My work / projects*/


.portfolio.section {
  background-color: #24252A;
}

.filter-btn.mixitup-control-active {
  color: #f3c892;
}

.portfolio-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #f3c892;
  margin-bottom: 4rem;
}

.portfolio-title {
  padding-bottom: 1rem;
}

.filter-btn {
  display: inline-block;
  color: #e7e2db;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
  font-family: inherit;
  text-transform: uppercase;
}

.portfolio-gallery {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.prt-card {
  border-radius: 15px;
  overflow: hidden;
  background-color: #e7e2db;
  height: 265px;
  display: grid;
  grid-template-rows: 1fr auto;
}

.prt-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prt-desc {
  padding: 1.1rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.prt-desc h3 {
  font-size: .95rem;
  color: #24252A;
  font-weight: 600;
  text-transform: capitalize;
}

.prt-image img {
  width: 105%;


}

.btn.secondary-btn.sm {
  padding: 0.07rem 0.5rem;
  font-size: 0.78rem;
  border-bottom-width: 2px;
  transition: 0.3s;
  color: #24252A;
  border-radius: 4px;
}

.btn.secondary-btn.sm::before {
  height: 2px;
  bottom: -2px;
}

.btn.secondary-btn.sm:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.prt-overlay {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
  cursor: pointer;
  transition: 0.5s;
  pointer-events: none;
}

.prt-image:hover .prt-overlay {
  pointer-events: auto;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(10px);
}

.prt-icon {
  color: hsl(var(--hue-1)61%, 24%);
  font-size: 1.1rem;
  margin: 0 0.4rem;
  background-color: #e7e2db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
  transform: translateY(15px);
}

.prt-icon:hover {
  background-color: #f3c892;
}

.prt-image:hover .prt-icon {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.3s var(--i);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: 0, 3s;
}

.slider-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 90%;
  width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

.slider-wrap img {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.navigation {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 2rem;
}

.slider-wrap img.showImage {
  display: block;
}

.portfolio.open .modal {
  pointer-events: auto;

}

.portfolio.open .modal-overlay {
  opacity: 1;
}

.portfolio.open .container {
  transform: scale(0.9);
}

.portfolio .container {
  transition: 0.4s;
}

.portfolio.open .slider-wrap {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 0.1s;
}

.body.stopScrolling {
  height: 100%;
  overflow: hidden;
}

/* Footer */

.footer {
  text-align: center;
  color: #f3c892;
  background-color: #24252A;
}
.footer ul{
  size: 200px;
}

.footer-name{
  font-size: 40px;
}

#social-media a {
  width: 2px;
  padding: 10px;
  font-size: 1.7rem;
  color: #777;
  transition: 0.3s;
}

#social-media a:hover {
  color: #f3c892;
}

.so-media{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer.copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* Contact */

.Contact{
	height: 100vh;
	width: 100%;
}

.contact-us{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-us:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/computer-2.png") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #24252A;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("./img/computer.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.contact-header{
	position: relative;
	padding: 0 0 10px;
  color: #f3c892;
	margin-bottom: 10px;
}

.contact-header:after{
	  content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f3c892;
}

.name, .mail, .message{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: #fff;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.name, .mail, .message:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.send-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #fff;
	color: #24252A;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.send-btn:hover{
    background-color: #f3c892;
}

.name, .mail, .message:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}